<nav class="ambony shadow topnav navbar navbar-light">
    <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
        <i class="fe fe-menu navbar-toggler-icon"></i>
    </button>
    <ul class="nav">
        <li class="nav-item nav-notif">

        </li>
        <li class="nav-item dropdown">
      <span class="avatar avatar-sm mt-2">
        <img th:src="@{/assets/avatars/face-1.jpg}" alt="..." class="avatar-img rounded-circle">
      </span>
        </li>
    </ul>
</nav>