<div class="d-flex">
    <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
        <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
            <i class="fe fe-x"><span class="sr-only"></span></i>
        </a>
        <nav class="vertnav navbar navbar-light">
            <!-- nav bar -->
            <div class="w-100 mb-0 d-flex">
                <a class="navbar-brand mx-auto mt-0 mb-0 flex-fill text-center">
                    <img th:src="@{/assets/images/erpnext-favicon.svg}"  alt="" class="navbar-brand-img brand-md">

                </a>
            </div>
            <div class="w-100 mb-2 d-flex">
                <h2 class="h3 mx-auto mt-1 mb-1 flex-fill text-center">ERPNext</h2>
            </div>

            <ul class="navbar-nav flex-fill w-100 mb-2 mt-3 ml-1">
                <li class="nav-item w-100">
                    <a class="nav-link" href="/home">
                        <i class="fe fe-home fe-16"></i>
                        <span class="ml-3 item-text">Home</span>
                    </a>
                </li>
            </ul>
            <p class="text-muted nav-heading mt-4 mb-1">
                <span>HR</span>
            </p>
            <ul class="navbar-nav flex-fill w-100 mb-2 ml-1">
                <li class="nav-item w-100">
                    <a class="nav-link" href="/employee">
                        <i class="fe fe-users fe-16"></i>
                        <span class="ml-3 item-text">Employee</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav flex-fill w-100 mb-2 ml-1">
                <li class="nav-item w-100">
                    <a class="nav-link" href="/register">
                        <i class="fe fe-clipboard fe-16"></i>
                        <span class="ml-3 item-text">Salary Register</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav flex-fill w-100 mb-2 ml-1">
                <li class="nav-item w-100">
                    <a class="nav-link" href="/statistics">
                        <i class="fe fe-trending-up fe-16"></i>
                        <span class="ml-3 item-text">Statistics</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav flex-fill w-100 mb-2 ml-1">
                <li class="nav-item w-100">
                    <a class="nav-link" href="/import">
                        <i class="fe fe-download fe-16"></i>
                        <span class="ml-3 item-text">Import</span>
                    </a>
                </li>
            </ul>
            <p class="text-muted nav-heading mt-4 mb-1">
                <span>Buying</span>
            </p>
            <ul class="navbar-nav flex-fill w-100 mb-2 ml-1">
                <li class="nav-item w-100">
                    <a class="nav-link" href="/supplier">
                        <i class="fe fe-users fe-16"></i>
                        <span class="ml-3 item-text">Suppliers</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav flex-fill w-100 mb-2 ml-1">
                <li class="nav-item w-100">
                    <a class="nav-link" href="/accounting">
                        <i class="fe fe-briefcase fe-16"></i>
                        <span class="ml-3 item-text">Accounting</span>
                    </a>
                </li>
            </ul>


        </nav>
    </aside>

</div>

