<!doctype html>
<html lang="en">
<th:block th:replace="~{fragments/head.html}"></th:block>
<body class="vertical light">
<div class="wrapper">

    <th:block th:replace="~{fragments/header.html}"></th:block>
    <th:block th:replace="~{fragments/sidebar.html}"></th:block>

    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h3>Profile</h3>
                    <div class="row mt-3 align-items-center">
                        <div class="col-md-3 text-center mb-3">

                            <div class="avatar-img" style="position: relative;">
                                <span class="avatar_perso_xl"> A </span>
                                <img th:src="@{'/assets/avatars/face-1.jpg'}" alt="Default Avatar"
                                     class="rounded-circle border border-light shadow-sm"
                                     style="width: 130px; height: 130px;">
                            </div>

                        </div>
                        <div class="col">
                            <div class="row mb-4">
                                <div class="col-md-5">
                                    <h4 class="mb-1" th:text="${employee.employeeName}"></h4>
                                    <p class="small mb-0 text-muted">Joined: <span class="small mb-0" th:text="${employee.dateOfJoining}"></span>
                                    </p>
                                </div>
                                <div class="col">
                                    <h4 class="mb-1" th:text="${employee.name}"></h4>
                                    <p class="small mb-3">
                                        <span th:text="${employee.status}"
                                              th:classappend="|${employee.status == 'Active' ? 'badge '+employee.status+'-color' : ''}
                                                              ${employee.status == 'Inactive' ? 'badge '+employee.status+'-color' : ''}
                                                              ${employee.status == 'Suspended' ? 'badge '+employee.status+'-color' : ''}
                                                              ${employee.status == 'Left' ? 'badge '+employee.status+'-color' : ''}|">
                                            ></span></p>
                                    <p class="small mb-0 text-muted">Creation: <span class="small mb-0" th:text="${employee.creation}"></span>
                                    </p>
                                    <p class="small mb-0 text-muted">Modified: <span class="small mb-0" th:text="${employee.modified}"></span>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row my-4"><!-- Small table -->
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="form-row">
                                        <!-- Col 1 -->
                                        <div class="col-lg-4 col-md-6 mb-3">
                                            <label for="employee-first-name">First Name</label>
                                            <input type="text" id="employee-first-name" class="form-control" th:value="${employee.firstName}" disabled>
                                        </div>
                                        <div class="col-lg-4 col-md-6 mb-3">
                                            <label for="gender">Gender</label>
                                            <input type="text" id="gender" class="form-control" th:value="${employee.gender}" disabled>
                                        </div>
                                        <!-- Col 2 -->
                                        <div class="col-lg-4 col-md-6 mb-3">
                                            <label for="first-name">Date of Joining</label>
                                            <input type="text" id="first-name" class="form-control" th:value="${employee.dateOfJoining}" disabled>
                                        </div>


                                        <div class="col-lg-4 col-md-6 mb-3">
                                            <label for="middle-name">Middle Name</label>
                                            <input type="text" id="middle-name" class="form-control" th:value="${employee.middleName}" disabled>
                                        </div>
                                        <div class="col-lg-4 col-md-6 mb-3">
                                            <label for="date-of-birth">Date of Birth</label>
                                            <input type="text" id="date-of-birth" class="form-control" th:value="${employee.dateOfBirth}" disabled>
                                        </div>

                                        <!-- Col 3 -->
                                        <div class="col-lg-4 col-md-6 mb-3">
                                            <label for="department">Department</label>
                                            <input type="text" id="department" class="form-control" th:value="${employee.department}" disabled>
                                        </div>
                                        <div class="col-lg-4 col-md-6 mb-3">
                                            <label for="last-name">Last Name</label>
                                            <input type="text" id="last-name" class="form-control" th:value="${employee.lastName}" disabled>
                                        </div>


                                        <div class="col-lg-4 col-md-6 mb-3">
                                            <label for="full-name">Full Name</label>
                                            <input type="text" id="full-name" class="form-control" th:value="${employee.employeeName}" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- simple table -->
                    </div>

                    <h3>Salary Slips</h3>
                    <p class="text-muted">This section shows the list of quotations received from the supplier,
                        including details like their status, validity, and total amount.</p>
                    <div class="row my-4">
                        <!-- Small table -->
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <!-- table -->
                                    <table class="table datatables" id="dataTable-1">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Period</th>
                                            <th>Gross Pay</th>
                                            <th>Net Pay</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <th:block th:each="salarySlip, iterStat : ${salarySlipList}">
                                            <tr class="doctype-row">
                                                <td>
                                                    <p class="mb-0 text-muted">
                                                        <strong th:text="${salarySlip.name}"
                                                        ></strong>
                                                    </p>
                                                </td>
                                                <td th:text="${'Apr 2025'}"></td>
                                                <td th:text="${salarySlip.gross_pay}"></td>
                                                <td th:text="${salarySlip.net_pay}"></td>
                                                <td> <img th:src="@{'/assets/images/pdf.png'}" alt="Default Avatar"
                                                          style="width: 30px; height: 30px; cursor:pointer"></td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div> <!-- simple table -->
                    </div>

                </div> <!-- /.col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main>
</div>
<th:block th:replace="~{fragments/script.html}"></th:block>
<script th:src="@{js/jquery.dataTables.min.js}"></script>
<script th:src="@{js/dataTables.bootstrap4.min.js}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('#dataTable-1').DataTable({
            autoWidth: true,
            "lengthMenu": [
                [20, 100, 500, -1],
                [20, 100, 500, "All"]
            ]
        });
    });
</script>


</body>

</html>