<!doctype html>
<html lang="en">
<th:block th:replace="~{fragments/head.html}"></th:block>

<body class="vertical light">
<div class="wrapper">

    <th:block th:replace="~{fragments/header.html}"></th:block>
    <th:block th:replace="~{fragments/sidebar.html}"></th:block>

    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="page-title">Generate Salary</h2>
                    <p class="text-muted"></p>

                    <div class="row">
                        <div class="col-md-6">

                            <div th:if="${successMessage}" class="alert alert-success alert-dismissible mt-4" role="alert">
                                <span th:text="${successMessage}"></span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible mt-4" role="alert">
                                <span th:text="${errorMessage}"></span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="card shadow mb-4">
                                <div class="card-header">
                                    <strong class="card-title">Generate Salary Form</strong>
                                </div>
                                <div class="card-body">
                                    <form th:action="@{/generate_salary}" th:object="${salaryGenForm}" method="post">

                                        <div class="col-lg-12 col-md-12 mb-3">
                                            <label for="employee">Employee :</label>
                                            <select id="employee" name="employee" class="form-control" required th:field="*{employeeStr}">
                                                <th:block th:each="employee : ${employeeList}">
                                                    <option th:value="${employee.name}" th:text="${employee.employeeName}" ></option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div class="col-lg-12 col-md-12 mb-3">
                                            <label for="startMonth">Start Month :</label>
                                            <input id="startMonth" name="startMonth" type="month" class="form-control" required th:field="*{startMonthStr}">
                                        </div>
                                        <div class="col-lg-12 col-md-12 mb-3">
                                            <label for="endMonth">End Month :</label>
                                            <input id="endMonth" name="endMonth" type="month" class="form-control" required th:field="*{endMonthStr}">
                                        </div>
                                        <div class="col-lg-12 col-md-12 mb-3">
                                            <label for="base">Base :</label>
                                            <input id="base" name="base" step="0.50" type="number" class="form-control" th:field="*{baseStr}">
                                        </div>
                                        <button class="btn btn-dark" type="submit">Generate</button>
                                    </form>
                                </div> <!-- /.card-body -->
                            </div> <!-- /.card -->

                        </div> <!-- /.col -->


                    </div> <!-- end section -->
                </div> <!-- /.col-12 col-lg-10 col-xl-10 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div>
<th:block th:replace="~{fragments/script.html}"></th:block>
</body>


</html>