.invalid-feedback {
    display: block !important;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.nav-link.dropdown-toggle::after {
    display: none;
}

/* Styles de base pour la structure */
.editor-js-container {
    padding: 20px;
    background-color: #f7f7f7;
}

.codex-editor {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ce-block {
    margin-bottom: 20px;
}

.ce-header .h4 {
    font-weight: bold;
}

.widget {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    transition: all 0.3s ease;
}

.widget:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.widget-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.widget-title {
    font-size: 16px;
}

.widget-subtitle {
    font-size: 12px;
    color: #666;
}

.widget-control .indicator-pill {
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 50%;
}

.widget-body {
    margin-top: 10px;
}

.widget-footer {
    margin-top: 15px;
    text-align: right;
}

.link-item {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: #007bff;
}

.link-item .link-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-item .link-text {
    font-size: 14px;
}

.icon-xs {
    width: 16px;
    height: 16px;
}


.avatar_perso{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bebebe;
    font-size:20px;
    font-weight: bold;
}

.avatar_perso_xl{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bebebe;
    font-size:60px;
    font-weight: bold;
}


.doctype-row {
    transition: background-color 0.2s ease-in-out;
}
.doctype-row:hover {
    background-color: #f0f8ff;
}

.badge{
    padding: 0.40em 0.7em !important;
    font-size: 82% !important;
}

.page-item.active .page-link {
    background-color: #000000 !important;
    border-color: #000000 !important;
}


.action-link {
    text-decoration: none;
    color: inherit;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.action-link:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1); /* Léger gris transparent */
    cursor: pointer;
}




.badge {
    display: inline-block;
    width: 100px; /* Tu peux ajuster cette largeur selon tes préférences */
    text-align: center;
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.draft-color {
    background-color: #afafaf;
}
.submitted-color {
    background-color: #007BFF;
}
.ordered-color {
    background-color: #28A745;
}
.cancelled-color {
    background-color: #DC3545;
}
.to-receive-and-bill-color {
    background-color: #FFC107;
}

.to-receive-color {
    background-color: #17A2B8;
}

.to-bill-color {
    background-color: #6F42C1;
}

.completed-color {
    background-color: #28A745;
}

.closed-color {
    background-color: #6C757D;
}

.on-hold-color {
    background-color: #FD7E14;
}

.unpaid-color {
    background-color: #FFC107;
}

.partly-paid-color {
    background-color: #17A2B8;
}

.paid-color {
    background-color: #28A745;
}

.overdue-color {
    background-color: #DC3545;
}

.myIco {
    font-size: 12px !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 870px;
        margin: 1.75rem auto;
    }
}


.Active-color {
    background-color: #28A745;
}
.Inactive-color {
    background-color: #FFC107;
}
.Suspended-color {
    background-color: #FD7E14;
}
.Left-color {
    background-color: #DC3545;
}