<!doctype html>
<th:block th:replace="~{fragments/head.html}"></th:block>
<html lang="en">

<body class="dark " style="overflow-x: hidden">
<div class="wrapper vh-100">
    <div class="row align-items-center h-100">
        <form action="/login" method="post"  class="col-lg-3 col-md-4 col-10 mx-auto text-center">
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" >
                <img th:src="@{/assets/images/erpnext-favicon.svg}" alt="Logo Avion" class="navbar-brand-img brand-md">
            </a>
            <h1 class="h6 mb-3">Log in to NewApp ERPNext</h1>

            <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:text="${error}" style="font-size: 1.2em;"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="form-group">
                <label for="inputEmail"></label>
                <input type="text" id="inputEmail" aria-required="true" class="form-control form-control-lg" placeholder="jane@example.com" autofocus="" name="usr">

            </div>
            <div class="form-group">
                <label for="inputPassword"></label>
                <input type="password" id="inputPassword" class="form-control form-control-lg" placeholder="password" name="pwd">
            </div>
            <button class="btn btn-lg btn-dark btn-block" type="submit">Login</button>
            <p class="mt-5 mb-3 text-muted">© 2025</p>

        </form>
    </div>
</div>

<th:block th:replace="~{fragments/script.html}"></th:block>
</body>
</html>
