<!doctype html>
<html lang="en">
<th:block th:replace="~{fragments/head.html}"></th:block>
<body class="vertical light">
<div class="wrapper">

    <th:block th:replace="~{fragments/header.html}"></th:block>
    <th:block th:replace="~{fragments/sidebar.html}"></th:block>

    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="mb-2 page-title">Purchase Invoice</h2>
                    <p class="card-text">
<!--                      text  -->
                    </p>
                    <div class="row my-4">
                        <!-- Small table -->
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <!-- table -->
                                    <table class="table datatables" id="dataTable-1">
                                        <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Status</th>
                                            <th>Date</th>
                                            <th>Grand Total</th>
                                            <th>ID</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <th:block th:each="purchaseInvoice, iterStat : ${purchaseInvoices}">
                                            <tr class="purchaseInvoice-row" th:attr="data-purchaseInvoice=${purchaseInvoice.name}" style="cursor: pointer;">
                                                <td>
                                                    <p class="mb-0 text-muted">
                                                        <strong th:text="${purchaseInvoice.title}">-</strong>
                                                    </p>
                                                </td>
                                                <td th:text="${purchaseInvoice.status}">-</td>
                                                <td th:text="${purchaseInvoice.modified}">-</td>
                                                <td th:text="${purchaseInvoice.grandTotal}">-</td>
                                                <td>
                                                    <p class="mb-0 text-muted">
                                                        <strong th:text="${purchaseInvoice.name}">-</strong>
                                                    </p>
                                                </td>
                                                <td>
                                                    <button type="button"
                                                            class="btn mb-2 btn-dark"
                                                            data-toggle="modal"
                                                            data-target="#varyModal"
                                                            th:attr="
                                                                data-modified=${purchaseInvoice.modified},
                                                                data-supplier-name=${purchaseInvoice.supplierName},
                                                                data-outstandingamount=${purchaseInvoice.outstandingAmount},
                                                                data-purchaseinvoice-name=${purchaseInvoice.name}">
                                                        Pay
                                                    </button>
                                                </td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div> <!-- simple table -->
                    </div> <!-- end section -->
                </div> <!-- .col-12 -->

                <div class="modal fade" id="varyModal" tabindex="-1" role="dialog" aria-labelledby="varyModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="varyModalLabel">New Payment Entry</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="updatePricesForm">
                                    <table class="table table-sm table-bordered">
                                        <thead>
                                        </thead>
                                        <tbody id="itemsTableBody">
                                            <tr>
                                                <td><p class="ml-1 mb-0 text-muted"><strong>Purchase Invoice ID</strong></p></td>
                                                <td><input type="text" class="form-control" id="idinvoice" disabled value="ACC-PINV-2025-00008"></td>
                                            </tr>
                                            <tr>
                                                <td><p class="ml-1 mb-0 text-muted"><strong>Payment Type</strong></p></td>
                                                <td><input type="text" class="form-control" id="payment-type" disabled value="Pay"></td>
                                            </tr>
                                            <tr>
                                                <td><p class="ml-1 mb-0 text-muted"><strong>Posting Date</strong></p></td>
                                                <td><input type="text" class="form-control" id="posting-date" disabled value=""></td>
                                            </tr>
                                            <tr>
                                                <td><p class="ml-1 mb-0 text-muted"><strong>Party Type</strong></p></td>
                                                <td><input type="text" class="form-control" id="party-type" disabled value="Party"></td>
                                            </tr>
                                            <tr>
                                                <td><p class="ml-1 mb-0 text-muted"><strong>Party</strong></p></td>
                                                <td><input type="text" class="form-control" id="party" value="Party" disabled></td>
                                            </tr>
                                            <tr>
                                                <td><p class="ml-1 mb-0 text-muted"><strong>Paid From</strong></p></td>
                                                <td>
                                                    <select class="form-control" id="paidFrom">
                                                        <option name="Cash - ZD" value="Cash - ZD" >Cash - ZD</option>
                                                        <option name="Bank Account - ZD" value="Bank Account - ZD">Bank Account - ZD</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><p class="ml-1 mb-0 text-muted"><strong>Paid To</strong></p></td>
                                                <td>
                                                    <select class="form-control" id="paidTo">
                                                        <option name="Creditors - ZD" value="Creditors - ZD" >Creditors - ZD</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><p class="ml-1 mb-0 text-muted"><strong>Outstanding Amount</strong></p></td>
                                                <td><input type="number" step="0.5" class="form-control" id="outstanding-amount" disabled></td>
                                            </tr>
                                            <tr>
                                                <td><p class="ml-1 mb-0 text-muted"><strong>Amount</strong></p></td>
                                                <td><input type="number" step="0.5" class="form-control" id="amount" min="0"></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn mb-2 btn-dark" id="payBtn">Pay</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<th:block th:replace="~{fragments/script.html}"></th:block>
<script th:src="@{js/jquery.dataTables.min.js}"></script>
<script th:src="@{js/dataTables.bootstrap4.min.js}"></script>
<script>
    $('#dataTable-1').DataTable(
        {
            autoWidth: true,
            "lengthMenu": [
                [20, 100, 500, -1],
                [20, 100, 500, "All"]
            ]
        });

</script>

<script th:inline="javascript">
    $(document).ready(function () {
        $('#varyModal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);

            const purchaseInvoice = button.data('purchaseinvoice-name');
            const outstandingAmount = button.data('outstandingamount');
            const supplierName = button.data('supplier-name');
            const modifiedDate = button.data('modified');

            const modal = $(this);

            modal.find('#idinvoice').val(purchaseInvoice);
            modal.find('#party').val(supplierName);
            modal.find('#outstanding-amount').val(outstandingAmount);
            modal.find('#amount')
                .val(outstandingAmount)
                .attr({
                    min: 0,
                    max: outstandingAmount
                });
            modal.find('#posting-date').val(modifiedDate);
        });

        $('#payBtn').on('click', function () {
            const data = {
                name: $('#idinvoice').val(),
                party: $('#party').val(),
                amount: $('#amount').val(),
                paidFrom: $('#paidFrom').val(),
                paidTo: $('#paidTo').val()
            };

            console.log('Sending updates:', data);

            $.ajax({
                url: '/newPaymentEntry',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    console.log('Success:', response);
                    alert('Paiement effectué avec succès.');
                    $('#varyModal').modal('hide');
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', xhr.responseText || error);
                    alert('Une erreur est survenue lors de la création du paiement.');
                }
            });
        });
    });
</script>


</body>

</html>