<!doctype html>
<html lang="en">
<th:block th:replace="~{fragments/head.html}"></th:block>

<body class="vertical light">
<div class="wrapper">

    <th:block th:replace="~{fragments/header.html}"></th:block>
    <th:block th:replace="~{fragments/sidebar.html}"></th:block>

    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="page-title">Home</h2>
                    <p class="text-muted">
                        <!-- -->
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>
<th:block th:replace="~{fragments/script.html}"></th:block>
</body>

</html>